/.Matrix.java._trace
/.Matrix.xtendbin
/.demo.java._trace
/.demo.xtendbin
/.demo3.java._trace
/.demo3.xtendbin
/.demo4.java._trace
/.demo4.xtendbin
/.demo5.java._trace
/.demo5.xtendbin
/Matrix.java
/demo.java
/demo3.java
/demo4.java
/demo5.java
